<mat-toolbar color="primary">
    <div class="flex-container">
      <button mat-icon-button color="accent" routerLink="/admin">
        <mat-icon>home</mat-icon>
      </button>
      <div class="busca">
        <button mat-icon-button (click)="toggleSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <mat-form-field appearance="outline" *ngIf="showSearch">
          <mat-label>Pesquisar</mat-label>
          <input matInput type="text" (input)="applyFilter($event)" placeholder="Digite para pesquisar">
        </mat-form-field>
      </div>
      <span class="toolbar-title">Controle de Quantidade de Antenas</span>
      <button mat-fab color="accent" routerLink="/admin/quantidadeantenas/new">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <table mat-table [dataSource]="quantidadeAntenasFiltrados" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id.</th>
      <td mat-cell *matCellDef="let quantidadeantena">{{ quantidadeantena.id }}</td>
    </ng-container>
  
    <!-- Quantidade Column -->
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef>Quantidade de Antenas</th>
      <td mat-cell *matCellDef="let quantidadeantena">{{ quantidadeantena.quantidade }}</td>
    </ng-container>
  
    <!-- Acao Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef>Ação</th>
      <td mat-cell *matCellDef="let quantidadeantena">
        <button mat-icon-button 
                color="primary"
                routerLink="/admin/quantidadeantenas/edit/{{ quantidadeantena.id }}">
                <mat-icon>edit</mat-icon>
        </button>
        <button 
          mat-icon-button 
          color="warn" 
          (click)="excluir(quantidadeantena)"
          routerLink="/admin/quantidadeantenas">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [pageSize]="pageSize"
    [length]="totalRecords"
    (page)="paginar($event)"
  >
  </mat-paginator>
  