<mat-toolbar>
  <div class="toolbar">
    <div class="toolbar-divisao">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <button [routerLink]="'/admin'" class="voltar">
        <img src="../icons/logo-white.svg" alt="Logo" class="logo" />
      </button>
    </div>
    <div class="toolbar-divisao">
      <span class="nome-perfil">{{usuarioLogado?.nome}}</span>
      <button mat-icon-button (click)="deslogar()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
    </div>
  </div>
</mat-toolbar>
