<mat-toolbar>
  
  <div class="toolbar">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <button [routerLink]="'/admin'" class="voltar">
          <img src="../icons/logo-white.svg" alt="Logo" class="logo">
      </button>

      <div class="search-bar-container">
        <input matInput (input)="applyFilter($event)" placeholder="Pesquise o seu produto">
        <button mat-icon-button mat>
          <mat-icon>search</mat-icon>
        </button>
      </div>

      <button mat-icon-button class="conta">
        <mat-icon>account_circle</mat-icon>
      </button>
      <div class="usuario-logado">
        <p>
          Olá, <a href="/login">Entre</a> ou<br> <a href="/cadastrar">Cadastre-se</a>
        </p>
      </div>
      <button mat-icon-button class="favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="shopping_cart-icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-toolbar>