.toolbar-title {
    flex: 1;
    text-align: center;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .mat-column-id {
    width: 5em;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .busca {
    width: 0px;
  }
  
  /* .mat-column-nome {
    width: 100%;
  } */
  
  .mat-column-sigla {
    text-align: center;
    width: 5em;
  }
  
  .mat-column-acao {
    min-width: 10em;
    width: 10em;
    text-align: center;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  