<div class="container">
  <mat-toolbar color="primary">
    <div class="toolbar-title" *ngIf="formGroup.get('id')?.value">
      Atualização de Roteador
    </div>
    <div class="toolbar-title" *ngIf="!formGroup.get('id')?.value">
      Cadastro de Roteador
    </div>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error
            *ngIf="
              formGroup.get('nome') &&
              formGroup.get('nome')?.invalid &&
              formGroup.get('nome')?.touched
            "
          >
          {{getErrorMessage('nome', formGroup.get('nome')?.errors)}}

          @if (formGroup.get('nome')?.hasError('apiError')) {
              <span> {{ formGroup.get('nome')?.getError('apiError') }}</span>
          }
          </mat-error>
        </mat-form-field>
        <div class="container">
          <div class="container-content">
            <div class="container-content-column">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Preço</mat-label>
                <input matInput type="text" formControlName="preco" (input)="formatarPreco($event)"/>
                <mat-error
                  *ngIf="
                    formGroup.get('preco') &&
                    formGroup.get('preco')?.invalid &&
                    formGroup.get('preco')?.touched
                  "
                >
                {{getErrorMessage('preco', formGroup.get('preco')?.errors)}}

                @if (formGroup.get('preco')?.hasError('apiError')) {
                    <span> {{ formGroup.get('preco')?.getError('apiError') }}</span>
                }
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descrição</mat-label>
                <!-- <input matInput type="text" formControlName="descricao" /> -->
                <textarea
                  matInput
                  formControlName="descricao"
                  rows="9"
                ></textarea>
                <mat-error
                  *ngIf="
                    formGroup.get('descricao') &&
                    formGroup.get('descricao')?.invalid &&
                    formGroup.get('descricao')?.touched
                  "
                >
                {{getErrorMessage('descricao', formGroup.get('descricao')?.errors)}}

                @if (formGroup.get('descricao')?.hasError('apiError')) {
                    <span> {{ formGroup.get('descricao')?.getError('apiError') }}</span>
                }
                </mat-error>
              </mat-form-field>
            </div>

            <div class="container-content-column">
              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Sistema Operacional</mat-label>
                  <mat-select formControlName="sistemaOperacional" [compareWith]="compareById">
                    <mat-option>None</mat-option>
                    @for (item of sistemasOperacionais; track item) {
                      <mat-option [value]="item">
                        {{ item.nome }}
                      </mat-option>
                    }
                    <mat-option (click)="abrirDialogSistemaOperacional()">
                      <mat-icon>add</mat-icon>
                      Adicionar Novo Item
                    </mat-option>
                  </mat-select>
                  <mat-error
                  *ngIf="
                    formGroup.get('sistemaOperacional') &&
                    formGroup.get('sistemaOperacional')?.invalid &&
                    formGroup.get('sistemaOperacional')?.touched
                  "
                  >
                  {{getErrorMessage('sistemaOperacional', formGroup.get('sistemaOperacional')?.errors)}}

                  @if (formGroup.get('sistemaOperacional')?.hasError('apiError')) {
                      <span> {{ formGroup.get('sistemaOperacional')?.getError('apiError') }}</span>
                  }
                  </mat-error>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  (click)="abrirDialogSistemaOperacional()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Banda de Frequência</mat-label>
                  <mat-select formControlName="bandaFrequencia" [compareWith]="compareById">
                    <mat-option>None</mat-option>
                    @for (item of bandaFrequencias; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                    <mat-option (click)="abrirDialogBandaFrequencia()">
                      <mat-icon>add</mat-icon>
                      Adicionar Novo Item
                    </mat-option>
                  </mat-select>
                  <mat-error
                  *ngIf="
                    formGroup.get('bandaFrequencia') &&
                    formGroup.get('bandaFrequencia')?.invalid &&
                    formGroup.get('bandaFrequencia')?.touched
                  "
                  >
                  {{getErrorMessage('bandaFrequencia', formGroup.get('bandaFrequencia')?.errors)}}

                  @if (formGroup.get('bandaFrequencia')?.hasError('apiError')) {
                      <span> {{ formGroup.get('bandaFrequencia')?.getError('apiError') }}</span>
                  }
                  </mat-error>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  (click)="abrirDialogBandaFrequencia()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Protocolo de Segurança</mat-label>
                  <mat-select formControlName="protocoloSeguranca">
                    <mat-option>None</mat-option>
                    @for (item of protocolosSeguranca; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                  <mat-error
                  *ngIf="
                    formGroup.get('protocoloSeguranca') &&
                    formGroup.get('protocoloSeguranca')?.invalid &&
                    formGroup.get('protocoloSeguranca')?.touched
                  "
                  >
                  {{getErrorMessage('protocoloSeguranca', formGroup.get('protocoloSeguranca')?.errors)}}

                  @if (formGroup.get('protocoloSeguranca')?.hasError('apiError')) {
                      <span> {{ formGroup.get('protocoloSeguranca')?.getError('apiError') }}</span>
                  }
                  </mat-error>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  routerLink="/admin/protocolosseguranca/new"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Quantidade de Antenas</mat-label>
                  <mat-select formControlName="quantidadeAntena" [compareWith]="compareById">
                    <mat-option>None</mat-option>
                    @for (item of quantidadeAntenas; track item) {
                    <mat-option [value]="item">
                      {{ item.quantidade }}
                    </mat-option>
                    }
                    <mat-option (click)="abrirDialogQuantidadeAntena()">
                      <mat-icon>add</mat-icon>
                      Adicionar Novo Item
                    </mat-option>
                  </mat-select>
                  <mat-error
                  *ngIf="
                    formGroup.get('quantidadeAntena') &&
                    formGroup.get('quantidadeAntena')?.invalid &&
                    formGroup.get('quantidadeAntena')?.touched
                  "
                  >
                  {{getErrorMessage('quantidadeAntena', formGroup.get('quantidadeAntena')?.errors)}}

                  @if (formGroup.get('quantidadeAntena')?.hasError('apiError')) {
                      <span> {{ formGroup.get('quantidadeAntena')?.getError('apiError') }}</span>
                  }
                  </mat-error>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  (click)="abrirDialogQuantidadeAntena()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Sinal de Wireless</mat-label>
                  <mat-select formControlName="sinalWireless">
                    <mat-option>None</mat-option>
                    @for (item of sinalWireless; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formGroup.get('sinalWireless') &&
                      formGroup.get('sinalWireless')?.invalid &&
                      formGroup.get('sinalWireless')?.touched
                    "
                    >
                    {{getErrorMessage('sinalWireless', formGroup.get('sinalWireless')?.errors)}}
  
                    @if (formGroup.get('sinalWireless')?.hasError('apiError')) {
                        <span> {{ formGroup.get('sinalWireless')?.getError('apiError') }}</span>
                    }
                    </mat-error>
                </mat-form-field>
                <button mat-fab color="primary" routerLink="/admin/sinalwireless/new">
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Fornecedor</mat-label>
                  <mat-select formControlName="fornecedor">
                    <mat-option>None</mat-option>
                    @for (item of fornecedores; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                  <mat-error
                  *ngIf="
                    formGroup.get('fornecedor') &&
                    formGroup.get('fornecedor')?.invalid &&
                    formGroup.get('fornecedor')?.touched
                  "
                  >
                  {{getErrorMessage('fornecedor', formGroup.get('fornecedor')?.errors)}}

                  @if (formGroup.get('fornecedor')?.hasError('apiError')) {
                      <span> {{ formGroup.get('fornecedor')?.getError('apiError') }}</span>
                  }
                  </mat-error>
                </mat-form-field>
                <button mat-fab color="primary" routerLink="/admin/fornecedores/new">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button routerLink="/admin/roteadores">Cancelar</button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        [disabled]="formGroup.invalid"
        (click)="excluir()"
      >
        Excluir
      </button>
      <button
        mat-raised-button
        color="primary-salvar"
        (click)="salvar()"
      >
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
