<div class="container">
  <mat-toolbar color="primary">
    <div class="toolbar-title" *ngIf="formGroup.get('id')?.value">
      Atualização de Roteador
    </div>
    <div class="toolbar-title" *ngIf="!formGroup.get('id')?.value">
      Cadastro de Roteador
    </div>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error
            *ngIf="
              formGroup.get('nome') &&
              formGroup.get('nome')?.invalid &&
              formGroup.get('nome')?.touched
            "
          >
            O nome é obrigatório.
          </mat-error>
        </mat-form-field>
        <div class="container">
          <div class="container-content">
            <div class="container-content-column">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Preço</mat-label>
                <input matInput type="text" formControlName="preco" />
                <mat-error
                  *ngIf="
                    formGroup.get('preco') &&
                    formGroup.get('preco')?.invalid &&
                    formGroup.get('preco')?.touched
                  "
                >
                  O preço é obrigatório.
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descrição</mat-label>
                <!-- <input matInput type="text" formControlName="descricao" /> -->
                <textarea
                  matInput
                  formControlName="descricao"
                  rows="9"
                ></textarea>
                <mat-error
                  *ngIf="
                    formGroup.get('descricao') &&
                    formGroup.get('descricao')?.invalid &&
                    formGroup.get('descricao')?.touched
                  "
                >
                  A descrição é obrigatória.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="container-content-column">
              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Sistema Operacional</mat-label>
                  <mat-select formControlName="sistemaOperacional">
                    <mat-option>None</mat-option>
                    @for (item of sistemasOperacionais; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  routerLink="/admin/sistemasoperacionais/new"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Banda de Frequência</mat-label>
                  <mat-select formControlName="bandaFrequencia">
                    <mat-option>None</mat-option>
                    @for (item of bandaFrequencias; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  routerLink="/admin/bandafrequencias/new"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Protocolo de Segurança</mat-label>
                  <mat-select formControlName="protocoloSeguranca">
                    <mat-option>None</mat-option>
                    @for (item of protocolosSeguranca; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  routerLink="/admin/protocolosseguranca/new"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Quantidade de Antenas</mat-label>
                  <mat-select formControlName="quantidadeAntena">
                    <mat-option>None</mat-option>
                    @for (item of quantidadeAntenas; track item) {
                    <mat-option [value]="item">
                      {{ item.quantidade }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button
                  mat-fab
                  color="primary"
                  routerLink="/admin/quantidadeantenas/new"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Sinal de Wireless</mat-label>
                  <mat-select formControlName="sinalWireless">
                    <mat-option>None</mat-option>
                    @for (item of sinalWireless; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button mat-fab color="primary" routerLink="/admin/sinalwireless/new">
                  <mat-icon>add</mat-icon>
                </button>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Fornecedor</mat-label>
                  <mat-select formControlName="fornecedor">
                    <mat-option>None</mat-option>
                    @for (item of fornecedores; track item) {
                    <mat-option [value]="item">
                      {{ item.nome }}
                    </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <button mat-fab color="primary" routerLink="/admin/fornecedores/new">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button routerLink="/admin/roteadores">Cancelar</button>
      <button
        mat-raised-button
        *ngIf="formGroup?.get('id')?.value"
        color="warn"
        [disabled]="formGroup.invalid"
        routerLink="/admin/roteadores"
        (click)="excluir()"
      >
        Excluir
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="salvar()"
        [disabled]="formGroup.invalid"
      >
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
