<ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
  <mat-card class="carrinho-container">

    <div *ngFor="let item of carrinhoItens" class="item-carrinho">
      <div class="coluna-info">
        <img [src]="item.imageUrl" alt="{{ item.nome }}" class="produto-img" />
        <span class="produto-nome">{{ item.nome }}</span>
      </div>

      <div class="coluna-quantidade">
        <button mat-icon-button (click)="diminuirQuantidade(item)">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ item.quantidade }}</span>
        <button mat-icon-button (click)="aumentarQuantidade(item)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="coluna-preco">
        <span>{{ item.preco * item.quantidade | currency }}</span>
      </div>
    </div>

    <div class="total-container">
      <p class="total-carrinho">Total do Carrinho: {{ calcularTotal() | currency }}</p>
      <button mat-raised-button color="primary" (click)="finalizarCompra()">
        Finalizar Compra
      </button>
    </div>
  </mat-card>
</ng-container>

<ng-template #carrinhoVazio>
  <p class="carrinho-vazio">O carrinho está vazio.</p>
</ng-template>
