.example-spacer {
    flex: 1 1 auto;
  }
/* 
  :host {
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    
  } */

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container h3 {
    margin: 20px 20px;
  }

  .table-list {
    width: 50%;
    max-width: 560px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }