<section class="hero-section">
    <div class="container">
      <div class="hero-grid">
        <div class="hero-content">
          <div class="hero-text">
            <h1 class="hero-title">Conecte-se com potência e qualidade</h1>
            <p class="hero-description">
                Roteadores ideais para casa, trabalho, jogos, segurança e muito mais. Qualidade e desempenho em um só lugar.
            </p>
          </div>
          <div class="hero-buttons">
            <a routerLink="/roteadores" class="primary-button">
              Conheça todos os produtos
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
                <path d="M5 12h14"></path>
                <path d="m12 5 7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="hero-image-container">
            <img src="../login/Img-Cadastro.png" alt="Roteador" class="hero-image">
        </div>
      </div>
    </div>
  </section>
  