<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()" appearance="outlined" class="card-hover">
        <img mat-card-image [src]="card.imageUrl" />
            <div class="container-titulo">
                <mat-card-content>
                    <mat-card-title class="nome-roteador">{{card.title}}</mat-card-title>
                </mat-card-content>
                <button mat-icon-button class="favorite-icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        <mat-card-content>
            <mat-card-title class="preco-roteador">{{card.preco | currency:'BRL':'symbol':'1.2-2'}}</mat-card-title>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="ver-produto">Ver Produto</button>
        </mat-card-actions>
    </mat-card>
</div>