<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" opened="">
    <mat-toolbar>
        <p class="panel-title">Painel Administrativo</p>
    </mat-toolbar>
    <mat-nav-list>
      <p class="menu-label">GESTÃO DE PRODUTOS</p>
      <mat-list-item routerLink="/admin/roteadores">Roteadores</mat-list-item>
      <mat-list-item routerLink="/admin/quantidadeantenas">Quantidade de Antenas</mat-list-item>
      <mat-list-item routerLink="/admin/bandafrequencias">Banda de Frequência</mat-list-item>
      <mat-list-item routerLink="/admin/protocolosseguranca">Protocolos de Segurança</mat-list-item>
      <mat-list-item routerLink="/admin/sistemasoperacionais">Sistemas Operacionais</mat-list-item>
      <mat-list-item routerLink="/admin/sinalwireless">Sinal de Wireless</mat-list-item>
      <mat-list-item routerLink="/admin/lotes">Lotes</mat-list-item>
      <p class="menu-label">GESTÃO DE PESSOAS</p>
      <mat-list-item routerLink="/admin/funcionarios">Funcionários</mat-list-item>
      <mat-list-item routerLink="/admin/clientes">Clientes</mat-list-item>
      <mat-list-item routerLink="/admin/fornecedores">Fornecedores</mat-list-item>
      <p class="menu-label">GESTÃO DE PEDIDOS</p>
      <mat-list-item routerLink="/">Pedidos</mat-list-item>
      <mat-list-item routerLink="/admin/cupons">Cupons de Desconto</mat-list-item>
      <p class="menu-label">GESTÃO DE LOCALIDADES</p>
      <mat-list-item routerLink="/admin/cidades">Cidades</mat-list-item>
      <mat-list-item routerLink="/admin/estados">Estados</mat-list-item>
      <p class="menu-label">CONTA DE FUNCIONÁRIO</p>
      <mat-list-item routerLink="/">Sair</mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
